.author-container {
    text-align: center;
}

.a-form {
    display: flex;
    gap: 2px; 
    width: 750px;
    height: auto;
    margin-left: 24vh;
    padding: 5px;
    background: white;
    border-radius: 10px;
    box-shadow: 1px 1px 10px var(--background-color-5);
    flex-wrap: nowrap; 
}

.a-input {
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    text-align: left;
}