/* Container for rental page content */
.rental-container {
    text-align: center;
}

/* Main form styling for rentals */
.rental-form {
    display: flex;
    gap: 8px; 
    width: 1000px;
    height: 40px;
    margin-left: 15vh;
    padding: 4px;
    background: white;
    border-radius: 10px;
    box-shadow: 1px 1px 10px var(--background-color-5);
    flex-wrap: wrap;
}

/* Input fields in the form */
.rental-form input {
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    text-align: left;
    color: rgb(107, 107, 107);
}

/* Main submit button */
.r-btn {
    background-color: var(--background-color-3);
    border: none;
    height: 35px;
    width: 95px;
    margin-top: 3px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    color: white;
}

/* Edit/Delete button styles */
.r-btn1 {
    background-color: var(--background-color-3);
    border: none;
    height: 30px;
    width: 70px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    margin: 2px;
}

/* List of rental records */
.ul-4 {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: flex-start;
    margin-left: 12vh;
    gap: 1vh;
}

.ul-4 li {
    padding: 7px;
}

/* Responsive adjustments for smaller screens */
@media (max-width:1200px) {
    .rental-form {
        gap: 3px; 
        width: 700px;
        height: 40px;
        margin-left: 10vh;
        padding: 3px;
        background: white;
        flex-wrap: wrap;
    }

    .rental-form input {
        padding: 1px;
        font-size: 0.9rem;
        width: 110px;
        height: 31px;
        margin-top: 3px;
    }

    .rental-form select {
        margin-top: 3px;
        width: 126px;
    }

    .r-btn {
        height: 35px;
        width: 75px;
        margin-top: 3px;
    }
}