.book-card {
  width: 200px;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.book-card img {
  width: 100%;
  height: auto;
  display: block;
}


.book-card:hover {
  transform: scale(1.02);
  box-shadow: 1px 1px 15px rgb(0, 0, 0);
}

.book-info {
  padding: 0.5rem;
  text-align: center;
}

.book-info h3 {
  font-size: 1rem;
  margin: 0;
}

.book-info p {
  font-size: 0.85rem;
  color: #666;
}


.book-card.cover-only {
  width: 200px;
  height: 300px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.856);
}

.book-card.cover-only img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media(max-width: 1200px) {
  .book-card.cover-only {
    width: 140px;
    height: 210px;
  }
}