/* Main container for the publisher page */
.publisher-container {
    text-align: center;
}

/* Form styling for publisher add/update */
.p-form {
    display: flex;
    width: 950px;
    height: 50px;
    margin-left: 15vh;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    border: none;
    box-shadow: 1px 1px 10px var(--background-color-5);
}

/* List container for displaying publishers */
.ul-2 {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    margin-left: 20vh;
    margin-top: 4vh;
}

/* Responsive adjustments for smaller screens */
@media(max-width:1200px) {
    .p-form {
        width: 650px;
        height: 48px;
        margin-left: 15vh;
        overflow: hidden;
        gap: 4px;
        padding: 2px;
    } 

    /* Adjust input fields inside the form on small screens */
    .p-form input {
        padding: 1px;
        width: 145px;
        height: 37px;
        margin-top: 3px;
    }
}